
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700|Roboto:400,900);
/*body{
  background-image: url("http://totalwallcovering.com/images/product/paisley-damask-wallpaper-rglt-l.jpg")
}*/

body{
  font-family: 'Roboto';
  font-size: 19px;
  line-height: 1.7;
  color:rgb(95, 88, 88);

}

a:link {
    color: darkorange;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #4787ff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: tomato;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #47ffbf;
    background-color: transparent;
    text-decoration: underline;
}

.email:link {
    color: #4787ff;
    background-color: transparent;
    text-decoration: none;
}
.email:visited {
    color: #4787ff;
    background-color: transparent;
    text-decoration: none;
}
.email:hover {
    color: #47ffbf;
    background-color: transparent;
    text-decoration: none;
}
.email:active {
    color: #47ffbf;
    background-color: transparent;
    text-decoration: none;
}

header{

  margin-bottom: 6rem;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;

}

.avatarbox{
  width:300px;
  height:300px;
  z-index: 1;
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copy{
  margin-top: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 170%;

}

.card-1 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.headertext {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    flex:1;
}

.title{
     font-family: 'Cabin';
     font-size: 3.7rem;
     line-height: 100%;
     font-weight: 700;
     color: rgb(9,9,9);
}

.subtitle {
  font-family: 'Cabin';
  font-weight: 400;
  font-size:26px;
}

/*.invisiblock{
  background-color: white;
  height:11px;
  width: 13rem;
}*/

.describe{
  font-family: 'Cabin';
  margin-top:4px;
  font-size: 20px;
}
/*.projects img {
  margin: 2rem;
}*/
.flat{
     position: absolute;
     bottom: 15px;
     left: 30px;
     justify-content: center;

}

button {
  display: inline-block;
  margin: 0 6 0 6;
  padding: 10px 30px;
  font-size: 20px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  background-color: #a8aa9c;
  text-shadow: -1px 1px #417cb8;
  border: none;
  border-radius: 3px;

}

button:focus {
  outline: none
}

button:hover {
  background-color: #96988b;
  text-shadow: -1px 1px #27496d;
}
button:active {
  background-color: #86887c;
  text-shadow: -1px 1px #193047;
}

.card-3:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.email {
  box-sizing: border-box;
  width: 250px;
  height: 70px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 22px;
  border: 3px solid #4787ff;
  color: #4787ff;
  line-height: 64px;
  background: none;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 70px;
  padding: 15px 30px;
}

.email:hover {
  box-sizing: border-box;
  width: 250px;
  height: 70px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 22px;
  border: 3px solid #47ffbf;
  color: #47ffbf;
  line-height: 64px;
  background: none;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 70px;
  padding: 15px 30px;
}


.tech{
  font-size: 19px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 15px;
}

.flip {
    height: 240px;
    width: 300px;
}
.flip img {
    width: 300px;
    height: auto;
}
.flip .back {
    background: tomato;
    color: #fff;
    text-align: center;
}

.flipa {
    height: 240px;
    width: 300px;
}
.flipa img {
    width: 300px;
    height: auto;
}
.flipa .back {
    background: tomato;
    color: #fff;
    text-align: center;
}

.flipb {
    height: 240px;
    width: 300px;
}
.flipb img {
    width: 300px;
    height: auto;
}
.flipb .back {
    background: tomato;
    color: #fff;
    text-align: center;
}


.wrapper{
  margin-top: 10rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}


p {
  font-family: 'Roboto';
}
.myface {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-bottom: 5rem;
    z-index:2;
}


.contacts {
  margin-top: 5rem;
  margin-bottom: 20rem;
  font-weight: 400;
  line-height: 175%;

}
.top{
  margin-top: -22px;
  margin-bottom: 20px;
}

.desc{
  margin-top: 15px;
  text-align: center;
  margin-left: 10px;
  line-height: 150%;
}
/*@media only screen and (max-width: 901px)
{
    .column {
        padding: 10px;
    }
    #hero h2 {
        font-size: 200%;
    }
    #main-content h3{
        font-size: 150%;
    }
}*/
@media only screen and (max-width: 780px)
{
img{
  height:100%;
}
  .avatarbox{
    margin:3rem auto;
  }
  header{
    flex-direction: column;
  }
  .wrapper{
      margin:0 10px;
      padding:0;
  }
  .headertext {
      margin:0;
  }
  .contacts {
    margin: 0 7px;
  }
h1.title{
    font-size:2rem;
  }

p.contacts{
  margin-bottom: 10rem;
}
.piece{
margin-bottom: 4rem;}
.copy {
  font-size:15px;

  }

  p.contacts{
  font-size:15px;
  margin-top: 4rem;
}
}

@media only screen and (max-width: 450px)
{
  .hey{
    margin-top:2rem;
  }
.avatarbox{
    margin:3rem auto;
    width: 220px;
    height: 200px;
  }

.myface{
  margin:0 auto 3rem auto;
  width: 200px;
  height: 200px;
}

  .copy{
    font-size:13px;
  }
  p.contacts{
    font-size:13px;
  }
}
